# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore Firebase service account key
./connetct-834c8-firebase-adminsdk-fbsvc-37d43f7d53.json

# .gitignore
.env
.env.privacy

# Firebase Admin Keys asd asd heroku@9380552034
firebase-key.json